.email-list-item {
    box-sizing: border-box;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    min-height: 48px;
    padding: 0 16px;
    gap: 16px;
    width: 100%;
    max-width: 100%;
    color: #202124;
    font-weight: 600;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    transition: background-color 0.1s ease, box-shadow 0.1s ease;
    overflow: hidden;

    &:hover {
        cursor: pointer;
        background-color: #f8f9fa;
        box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    }

    &:last-child {
        border-bottom: none;
    }
}

.email-list-item.read {
    font-weight: 450;
    color: #28292b;
    border-bottom: 0.5px solid #c2c2c28b;
}

.email-list-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 100%;
    align-items: center;
    gap: 16px;
    min-width: 0;
    padding: 4px 0;
    overflow: hidden;
}

.preview-actions {
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    right: 16px;
    opacity: 0;
    transition: opacity 0.1s ease;
    background: white;
    padding-left: 16px;
}

.email-list-item:hover .preview-actions {
    opacity: 1;
}

.email-list-item:hover .preview-date {
    opacity: 0;
}

.email-list-item button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease;
    flex-shrink: 0;
}

.email-list-item button:hover {
    background-color: rgba(95, 99, 104, 0.2);
    cursor: pointer;
}

.email-list-item button>img {
    width: 24px;
    height: 24px;
    display: block;
    object-fit: contain;
}

.preview-from {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: inherit;
    color: inherit;
    flex-shrink: 0;
}

.preview-subject {
    flex: 1 0 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: inherit;
    color: inherit;
}

.preview-body {
    flex: 0 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 450;
    color: #5f6368;
}

.preview-date {
    min-width: 60px;
    max-width: 100px;
    width: auto;
    text-align: right;
    font-size: 0.8125rem;
    color: #5f6368;
    flex-shrink: 0;
    font-weight: 400;
    margin-left: auto;
    padding-right: 0;
    transition: opacity 0.1s ease;
}
.preview-left-buttons{
    display: flex;
}