 /* mail list */
 .email-list-container{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    border-radius: 8px;
 }