.Mail-filter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    position: relative;
    width: 100%;
    max-width: 600px;
    
}


.search-btn{
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5f6368;
    position: absolute;
    left: 0;
    z-index: 1;
    &:hover {
        background-color: #cacaca48;
    }
}

.mail-filter-input{
    width: 100%;
    padding: 14px 12px 14px 40px;
    border: 1px solid #dadce0;
    border-radius: 24px;
    outline: none;
    font-size: 14px;
    background-color: #f1f3f4;
    &:focus {
        background-color: white;
        box-shadow: 0 0 0 1px #a0a0a0;
    }
}