.mail-checkbox-bulk-actions {
    margin-left: 4px;
    display: flex;
    align-items: center;
    gap: 12px;
    background: white;
    padding: 8px 16px;
    border-radius: 4px;
    
    
    & input[type="checkbox"] {
        width: 1.1em;
        height: 1.1em;
        appearance: none;
        border: 2px solid #C6C7C6;
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        background-color: white;
        margin: 0;
        flex-shrink: 0;

        &:checked {
            background-color: #C2DBFF;
            border-color: #4A4E4F;
            
            &::after {
                content: '';
                position: absolute;
                left: 4px;
                top: 1px;
                width: 2px;
                height: 6px;
                border: solid #4D5254;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }

        &:indeterminate {
            background-color: #C2DBFF;
            border-color: #4A4E4F;
            
            &::after {
                content: '';
                position: absolute;
                left: 3px;
                top: 5px;
                width: 6px;
                height: 2px;
                background-color: #4D5254;
            }
        }
    }
    
    & button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        border: none;
        background: transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.1s ease;
        cursor: pointer;
        
        &:hover {
            background-color: rgba(95, 99, 104, 0.2);
        }
        
        & img {
            width: 24px;
            height: 24px;
            display: block;
            object-fit: contain;
        }
    }
}

