.email-list-item {
    box-sizing: border-box;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    min-height: 38px;
    padding: 0 16px;
    gap: 16px;
    width: 100%;
    max-width: 100%;
    color: #202124;
    font-weight: 600;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    transition: background-color 0.1s ease, box-shadow 0.1s ease;
    overflow: hidden;

    &.checked {
        background-color: #c6e2ff;

        &:hover {
            background-color: #c6e2ff;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: #f8f9fa;
        box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    }

    &:last-child {
        border-bottom: none;
    }

    &.read {
        font-weight: 450;
        color: #28292b;
        border-bottom: 0.5px solid #c2c2c28b;
    }

    & a {
        text-decoration: none;
        color: inherit;
        display: flex;
        flex: 1;
        width: 100%;
        max-width: 100%;
        align-items: center;
        gap: 16px;
        min-width: 0;
        padding: 2px 0;
        overflow: hidden;
    }

    & button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        border: none;
        background: transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.1s ease;
        flex-shrink: 0;

        &:hover {
            background-color: rgba(95, 99, 104, 0.2);
            cursor: pointer;
        }
    }
}

.preview-actions {
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    right: 16px;
    opacity: 0;
    transition: opacity 0.1s ease;
    background: white;
    padding-left: 16px;
}

.email-list-item:hover .preview-actions {
    opacity: 1;
}

.email-list-item.checked .preview-actions {
    background-color: #c6e2ff;
}

.email-list-item:hover .preview-date {
    opacity: 0;
}

.email-list-item button>img {
    width: 24px;
    height: 24px;
    display: block;
    object-fit: contain;
}

.preview-from {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: inherit;
    color: inherit;
    flex-shrink: 0;
}

.preview-subject {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: inherit;
    color: inherit;
}

.preview-body {
    flex: 1 2 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 450;
    color: #5f6368;
}

.preview-date {
    min-width: 40px;
    width: auto;
    text-align: right;
    font-size: 0.8125rem;
    color: #5f6368;
    flex-shrink: 0;
    flex-grow: 0;
    font-weight: 400;
    margin-left: auto;
    padding-right: 0;
    transition: opacity 0.1s ease;
}

.preview-left-buttons {
    display: flex;
}

input[type="checkbox"] {
    width: 1.1em;
    height: 1.1em;
    appearance: none;
    border: 2px solid #C6C7C6;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    background-color: white;
    margin-top: 10px;

    &:checked {
        background-color: #C2DBFF;
        border-color: #4A4E4F;
        
        &::after {
            content: '';
            position: absolute;
            left: 4px;
            top: 1px;
            width: 2px;
            height: 6px;
            border: solid #4D5254;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}

