 /* mail list */
 .email-list-container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px;
    overflow-y: auto;
 }