/* Fonts */

/* ProductSans-Thin */
@font-face {
    font-family: "ProductSans-Thin";
    src: url("../../assets/fonts/ProductSans-Thin.ttf");
}

/* Roboto */
@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto.ttf");
}