.create-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    max-width: 554px;
    height: 26px;
    margin: 0 auto;
    margin-top: 33px;
    & input {
        width: 100%;
        border: none;
        &:focus {
            outline: 0;
        }
    }
    & .input-row {
        display: flex;
        width: 100%;
        gap: 10px;
        align-items: center;
        input {
            flex: 1;
            &.checked {
                text-decoration: line-through;
            }
        }
        button {
            background: none;
            border: none;
            height: 40px;
            width: 40px;
            cursor: pointer;
            &:hover {
                background-color: rgba(0, 0, 0, 10%);
            }
            border-radius: 50%;
        }
    }
    & .uploaded-img {
        width: 100%;
    }

    & .img-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    & .img-inner-container {
        flex: 1;
        position: relative;

        & .delete-img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}
