.create-form {
    filter: drop-shadow(0 0 5px black);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    margin: 0 auto;
    & input {
        border: none;
        &:focus {
            outline: 0;
        }
    }
    & .input-row {
        display: flex;
        gap: 10px;
        input {
            flex: 1;
            &.checked {
                text-decoration: line-through;
            }
        }
        button {
            background: none;
            border: none;
            height: 40px;
            width: 40px;
            cursor: pointer;
            &:hover {
                background-color: rgba(0, 0, 0, 10%);
            }
            border-radius: 50%;
        }
    }
}
