.color-picker-container {
    position: relative;
}

.color-popup {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    border-radius: 10px;
    z-index: 20;

    & .color-list {
        display: flex;
        gap: 4px;
        padding: 8px 9px;

        & .note-btn {
            position: relative;
            width: 32px;
            height: 32px;
            border: 2px solid currentColor;

            &:hover {
                border-color: black;
            }

            &.selected {
                border-color: rgb(161, 66, 244);

                & .selected-mark {
                    opacity: 1;
                }
            }

            & .selected-mark {
                opacity: 0;
                display: flex;
                color: white;
                background-color: rgb(161, 66, 244);
                border-radius: 50%;
                transform: translate(35%, -35%);
                position: absolute;
                top: 0;
                right: 0;
                align-items: center;
                justify-content: center;

                & .material-symbols-outlined {
                    font-size: 1rem;
                }
            }
        }
    }
}
