.note-search-container {
    display: flex;
    flex: 1;
    max-width: 722px;
    padding: 4px 8px;
    background-color: #f1f3f4;
    border-radius: 8px;
    align-items: center;
    gap: 5px;

    & .note-search-close-btn {
        opacity: 0;
    }

    &:has(input:focus) {
        background-color: white;
        box-shadow: rgba(65, 69, 73, 0.3) 0px 1px 1px 0px, rgba(65, 69, 73, 0.15) 0px 1px 3px 1px;
        & .note-search-close-btn {
            opacity: 1;
        }
    }

    & input {
        flex: 1;
        font-size: 1rem;
        border: none;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }

    & .material-symbols-outlined {
        font-size: 24px;
        color: #5f6368;
    }
}
