.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background-color: rgba(32, 33, 36, 0.6);
    z-index: 10;
}

.edit-form {
    position: relative;
    box-sizing: content-box;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    width: calc(100vw - 100px);
    max-width: 600px;
    margin: 0 auto;
    z-index: 15;

    & .form-title {
        font-size: 1.25rem;
        line-height: 1.25;
    }

    & .form-container {
        display: flex;
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        overflow-x: hidden;
    }

    & input[type='text'] {
        width: 100%;
        border: none;
        background-color: transparent;

        &:focus {
            outline: 0;
        }
    }

    & .input-row {
        display: flex;
        flex-grow: 1;
        width: 100%;
        gap: 10px;
        align-items: center;

        input[type='text'] {
            flex-grow: 1;
            &.checked {
                text-decoration: line-through;
            }
        }
    }

    & .form-inputs {
        flex-grow: 1;
    }

    & .uploaded-img {
        width: 100%;
    }

    & .img-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    & .img-inner-container {
        flex: 1;
        position: relative;

        & .delete-img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    & .todo-row {
        display: flex;
        align-items: center;
        width: 100%;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

        & input[type='text'] {
            flex-grow: 1;
        }

        & .btn-remove-todo {
            opacity: 0;
        }

        &:has(:focus) .btn-remove-todo,
        &:hover .btn-remove-todo {
            opacity: 1;
        }

        &:has(:focus) {
            border-top-color: rgba(0, 0, 0, 0.15);
            border-bottom-color: rgba(0, 0, 0, 0.15);
        }
    }

    & .todos-list-container {
        width: 100%;
        padding: 12px 16px;
        list-style: none;

        & li {
            font-family: var(--font-google-sans);
            color: #202124;
            line-height: 1.5rem;
            display: flex;
            gap: 7px;
            align-items: center;
            margin: 0;
            break-inside: avoid;
            font-size: 1rem;

            & input[type='checkbox'] {
                margin: 0;
                width: 18px;
                height: 18px;
            }
        }
    }

    & .toolbar-container {
        display: flex;
        justify-content: end;

        & .note-btn.round {
            width: 32px;
            height: 32px;
            color: #757575;

            & .material-symbols-outlined {
                font-size: 16px;
            }

            &:hover {
                color: black;
            }
        }
    }

    & .space {
        flex: 1;
    }

    & .pinned {
        position: absolute;
        right: 25px;
        top: 10px;
        cursor: pointer;
        transition: all 0.2s;
        opacity: 1;
        filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 1px white);
    }
}
