.label-picker-container {
    position: relative;
}

.label-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    border-radius: 10px;

    & ul {
        list-style: none;
        padding: 0;

        & li {
            display: flex;
            gap: 7px;
            align-items: center;
            padding: 5px 10px 3px;
            font-size: 11pt;

            & input[type='checkbox'] {
                margin: 0;
            }
        }
    }
}
