.note-preview {
    position: relative;
    border: 1px solid rgb(224, 224, 224);
    break-inside: avoid;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: all 0.218s ease-in-out;
    box-shadow: none;

    font-family: 'Google Sans Flex', 'Roboto', Arial, sans-serif;
    letter-spacing: 0.00625em;
    color: #202124;
    white-space: pre-wrap;
    word-wrap: break-word;

    & .pinned {
        position: absolute;
        right: 10px;
        top: 10px;
        opacity: 0;
        cursor: pointer;
        transition: all 0.2s;
    }

    &:hover {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        & .pinned {
            opacity: 1;
        }
    }

    & h2,
    & p {
        word-break: break-all;
    }

    p {
        font-size: 11pt;
        padding: 12px 16px;
        max-height: 25lh;
        line-height: 24px;
        font-weight: 400;
        overflow-y: hidden;
        margin: 0;
    }

    h2 {
        font-size: 20px;
        padding: 16px 16px 0px;
        line-height: 25px;
        letter-spacing: 0.0142857em;
        font-weight: 400;
    }
}

.actions {
    display: flex;
    gap: 8px;

    & button,
    & input[type='color'] {
        background: none;
        border: none;
        height: 32px;
        width: 32px;
        cursor: pointer;
        &,
        & .material-symbols-outlined {
            font-size: 20px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 10%);
        }
        border-radius: 50%;
    }

    & input[type='color'] {
        width: 32px;
        height: 32px;
        background-color: whitesmoke;

        &,
        &::-webkit-color-swatch,
        &::-webkit-color-swatch-wrapper {
            border-radius: 50%;
            padding: 2px;
        }
    }
}
