.note-labels {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px 10px;
    gap: 10px;

    & .note-label {
        background-color: rgba(0, 0, 0, 0.08);
        border-radius: 12px;
        min-width: 45px;
        text-align: center;
        height: 24px;
        line-height: 24px;
        padding: 3px 10px;
        font-size: 11px;
        font-family: var(--font-google-sans);

        &.label-limit {
            min-width: unset;
            border-radius: 2px;
            height: 13px;
            line-height: 13px;
            padding: 5px 8px;
        }
    }
}
