.note-preview {
    position: relative;
    border: 1px solid rgb(224, 224, 224);
    break-inside: avoid;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: all 0.218s ease-in-out;
    box-shadow: none;
    padding: 16px;

    & .pinned {
        position: absolute;
        right: 10px;
        top: 10px;
        opacity: 0;
        cursor: pointer;
        transition: all 0.2s;
    }

    &:hover {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        & .pinned {
            opacity: 1;
        }
    }
}
