.types-container {
    max-width: 640px;
    margin: 0 auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    & h2 {
        font-size: 15px;
        font-family: Roboto, arial, sans-serif;
        padding: 10px 10px 12px;
        font-weight: 400;
    }
    & .types-list {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }

    & .filter {
        display: flex;
        flex-direction: column;
        color: white;
        background-color: rgb(26, 115, 232);
        width: 157px;
        height: 157px;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        & .filter-txt {
            font-size: 13px;
            padding-bottom: 10px;
        }

        & .filter-icon-container {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            padding-top: 30px;
        }

        & .material-symbols-outlined {
            font-size: 32px;
        }
    }
}
