.note-list {
    list-style: none;
    padding: 0;
    margin: 0;
    column-gap: 15px;
    column-count: 1;
}

.note-list li {
    break-inside: avoid;
    margin-bottom: 15px;
}

@media (min-width: 600px) {
    .note-list {
        column-count: 2;
    }
}

@media (min-width: 900px) {
    .note-list {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .note-list {
        column-count: 5;
    }
}

@media (min-width: 1500px) {
    .note-list {
        column-count: 6;
    }
}
