/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Pages */
@import 'pages/Home.css';
@import 'pages/About.css';
@import 'pages/BookIndex.css';
@import 'pages/BookDetails.css';
@import 'pages/BookEdit.css';
/* @import "pages/DashboardPage.css"; */

/* Components */
@import 'cmps/AppHeader.css';
@import 'cmps/UserMsg.css';
@import 'cmps/BookFilter.css';
@import 'cmps/BookList.css';
@import 'cmps/BookPreview.css';
