button {
    cursor: pointer;
    background-color: var(--clr2bg);
    margin: 0.5em;
    border: 1px solid var(--clr2);
    padding: 0; /* No padding by default */
    border-radius: 4px;
}

/* Add padding to buttons that don't have <a> children */
button:not(:has(a)) {
    padding: 0.5em 0.8em;
}

button:hover {
    background-color: var(--clr2);
    color: white;
    transition: 0.3s;
}

input:focus {
    background-color: var(--clr1bg);
    transition: background-color 1s;
}
