/* Setup */

@import './setup/variables.css';
@import './setup/mq.css';
/* @import './setup/fonts.css'; */

/* Basics */

@import './basics/base.css';
@import './basics/helpers.css';
@import './basics/note-buttons.css';
/* @import './basics/layout.css'; */

/* Pages */
@import './pages/home.css';

/* @import './apps/note/pages/NoteIndex.css'; */
@import './apps/note/cmps/NotePreview.css';
@import './apps/note/cmps/NoteList.css';
@import './apps/note/cmps/CreateNoteForm.css';
@import './apps/note/cmps/NoteFilterType.css';
@import './apps/note/cmps/NoteSearchForm.css';
@import './apps/note/cmps/NoteColorPicker.css';
@import './apps/note/cmps/NoteInlineEdit.css';

/* @import './apps/mail/pages/MailIndex.css'; */
@import './apps/mail/pages/MailIndex.css';
/* Cmps */

@import './cmps/UserMsg.css';
@import './cmps/AppHeader.css';


/*email app*/
@import './apps/mail/cmps/MailList.css';
@import './apps/mail/cmps/MailPreview.css';
@import './apps/mail/cmps/MailFilter.css';
@import './apps/mail/cmps/MailFolderList.css';
@import './apps/mail/cmps/MailCompose.css';