header {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px inset, rgba(0, 0, 0, 0.07) 0px -1px 0px inset;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;

    & .logo {
        display: flex;
        align-items: center;
        justify-content: start;
        box-sizing: border-box;
        width: 232px;
        padding: 0px 30px 0px 0px;

        & img {
            height: 2rem;
            width: auto;
            margin-bottom: -4px;
        }
    }
}

.app-header {
    display: flex;
    align-items: center;
    padding: 8px;

    & .header-space {
        flex: 1;
    }

    & nav {
        display: none;
        align-items: center;

        & .note-btn {
            color: #757575;

            &:hover {
                color: rgb(32, 33, 36);
            }
        }
        & a.active .note-btn {
            color: rgb(32, 33, 36);
            background-color: #feefc3;
        }
    }
}

@media (max-width: 600px) {
    header {
        & .logo {
            & img {
                height: 1rem;
            }
        }
    }
}

@media (min-width: 600px) {
    .app-header {
        & nav {
            display: inline-flex;
        }

        & .sidebar-btn {
            display: none;
        }
    }
}
