.book-edit form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 1em;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(175, 206, 148, 0.546);
    border-radius: 8px;
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.book-edit form label {
    justify-self: start;
    margin-left: 3em;
}

.book-edit form input {
    justify-self: start;
}

.book-edit form section {
    grid-column: 1 / 3;
    justify-self: center;
    margin-top: 1em;
    margin-right: 2em;
}